body{
	font-family: Ariel;
}
.header{
	background-color: #ffffff;
	height: 90px;
}
.header-logo{
	float: left;
	font-size: 13px;
	padding-left: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	color: purple;
	font-weight: 900;
	font-family: Arial;
}
.main{
	background-color: purple;
}
.btn-get-started{
   float: right;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 14px;
   padding-bottom: 14px;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   border-radius: 2px;
   position: relative;
   z-index: 10;
   background-color: green;
   line-height: 16px;
   margin-left: 0px;
}
.container h1{
	padding-left: 85px;
	padding-top: 45px;
	font-size: 28px;
}
.container p{
	padding-left: 85px;
	font-size: 18px;
	padding-right: 30px;
}